<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Itinelib - Contact</title>

  <!-- DEBUT STYLESHEETS -->
  <link href="../../assets/css/bootstrap.css" rel="stylesheet">
  <link href="../../assets/css/custom.css" rel="stylesheet">
  <!-- FIN STYLESHEETS -->
  <!-- DEBUT JAVASCRIPT -->
  <script src="../../assets/js/jquery.js"></script>
  <script src="../../assets/js/bootstrap-dropdown.js"></script>
  <script src="../../assets/js/bootstrap-collapse.js"></script>
  <!-- FIN JAVASCRIPT -->
</head>
<body>

  <!-- DEBUT NAVBAR -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="home.html">
          <img alt="" src="../../assets/img/logo.png" id="logo">
        </a>

        <div class="pull-right">
          <ul class="nav">
            <li><a href="../auth/login.html">Se connecter</a></li>
            <li>
              <form method="link" action="../auth/subscribe.html">
                <button class="btn btn-warning" onclick="">S'abonner</button>
              </form>
            </li>
          </ul>
        </div>

        <ul class="nav">
          <li><a href="howitworks.html">Comment ça marche</a></li>
          <li><a href="offers.html">Offres &amp; Tarifs</a></li>
          <li><a href="map.html">Trouver une station</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Assistance <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="contact.html">Nous contacter</a></li>
              <li><a href="faq.html">Voir toutes les FAQ</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- FIN NAVBAR -->

  <!-- DEBUT PAGE-CANVAS  -->
  <div class="page-canvas">
    <!-- DEBUT CONTAINER  -->
    <div class="container">

      <h1>FAQ</h1>

      <form action="" method="" class="form-horizontal"> 
     	
      	<div id="accordionChangerOffre" class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" href="#collapseChangerOffre" data-toggle="collapse">
                  <h4>Comment changer d'offre?</h4>                
                </a>
              </div>
            <div id="collapseChangerOffre" class="accordion-body collapse" style="height: 0px;">
		    	<div class="accordion-inner">
		    		<p>Les abonnés actuels pourront changer d’offre et convertir leur abonnement en abonnement Vélib’ Passion. Afin de changer d’abonnement, il suffira de se rendre dans « mon compte » et de régler l’abonnement Vélib’ Passion, calculé au prorata de la durée d’abonnement restant à courir. Il ne sera pas possible de changer deux fois d’offre d’abonnement au cours d’une même année. 
					</p>                        
		        </div>
		    </div>
        </div>
      
      	<div id="accordionAssurances" class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" href="#collapseAssurances" data-toggle="collapse">
                  <h4>Quelles sont les assurances? les garanties?</h4>                
                </a>
              </div>
            <div id="collapseAssurances" class="accordion-body collapse" style="height: 0px;">
		    	<div class="accordion-inner">
		    		<p>L’assurance est incluse dans le prix de votre abonnement. Les CGAU vous indiquent l’étendue et les limites de l’assurance Responsabilité Civile, de la Garantie Individuelle Conducteur et de l’Assurance Dommages/vol/Incendie/Vandalisme.                       
		        	</p>
		        	<p>Vous n'avez pas à verser de dépôt de garantie lors de la souscription à l'abonnement.
		        	</p>
		        </div>
		    </div>
        </div>
        
        <div id="accordionInfraction" class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" href="#collapseInfraction" data-toggle="collapse">
                  <h4>Que faire en cas d'infraction, d'accidents?</h4>                
                </a>
              </div>
            <div id="collapseInfraction" class="accordion-body collapse" style="height: 0px;">
		    	<div class="accordion-inner">
		    		<p>Tout procès-verbal ou infraction au code de la route, enlèvement fourrière arrivant à la société Autolib’ sera envoyé avec votre identité et vos coordonnées au service de traitement des contraventions afin que le procès-verbal vous soit directement adressé.
					Des frais de traitement administratifs vous seront alors facturés.</p>
		        	<p>Si le véhicule que vous devez prendre est endommagé, contactez le service assistance Autolib’ par la borne de location ou par le bouton d’appel dans la voiture afin de le signaler.</p>
		        	<p>En cas de besoin d’assistance, vous pouvez joindre le Centre d’appels en utilisant le bouton d’appel dans la Bluecar. Si le cas d’urgence est avéré, la facturation liée à l’utilisation du véhicule est suspendue pendant la durée du diagnostic et close si vous n'êtes plus en mesure d’utiliser la Bluecar. Les procédures relatives à des accidents, des pannes ou crevaison sont directement menées par le Centre d’appels en lien avec les équipes présentes sur le terrain.
					En cas d’accident, vous devez dans tous les cas remplir un constat et l’envoyer à l’aide de l’enveloppe T à disposition dans le véhicule, à l’assureur. </p>
		        </div>
		    </div>
        </div>
        
        <div id="accordionMoyensDePaiement" class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" href="#collapseMoyensDePaiement" data-toggle="collapse">
                  <h4>Quels sont les moyens de paiement supportés?</h4>                
                </a>
              </div>
            <div id="collapseMoyensDePaiement" class="accordion-body collapse" style="height: 0px;">
		    	<div class="accordion-inner">
		    		<p>Les cartes bancaires acceptées sont Visa, Mastercard, Amex, Blue Visa.
					</p>
		        	<p>Les transactions effectuées sur ce site sont sécurisées par le système de paiement Ingénico©. Lorsque vous saisissez vos coordonnées bancaires, vous êtes directement en liaison avec le serveur de paiement Ingénico©. Vélib' ne connaît donc pas votre numéro de carte bancaire et celui-ci n'est pas stocké sur son serveur. En outre, toutes les informations qui sont échangées avec Ingénico© sont cryptées grâce au protocole SSL et ne peuvent pas être interceptées ou modifiées. A la fin de la transaction, et avant de retourner sur le site velib.paris.fr, Ingénico© vous présente un ticket électronique, reprenant tous les éléments du paiement et de résultat de la demande d'autorisation bancaire (transaction acceptée ou annulée). 
		        	</p>
		        	<p>L’abonnement par chèque ou ADP est toujours possible. Cependant ce type de paiement nécessite un envoi du dossier par courrier, et ne permet à l’abonné de bénéficier d’un accès rapide au service Vélib’. Par ailleurs, l’abonnement par chèque ne permet pas de bénéficier de l’option du réabonnement automatique. 
		        	</p>
		        </div>
		    </div>
        </div>
        
        <div id="accordionPerte" class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" href="#collapsePerte" data-toggle="collapse">
                  <h4>J’ai perdu ma carte d’abonnement, comment faire ?</h4>                
                </a>
              </div>
            <div id="collapsePerte" class="accordion-body collapse" style="height: 0px;">
		    	<div class="accordion-inner">
		    		<p>En cas de perte ou de vol de votre carte (Vélib’ Classique, passe NAVIGO, carte Express), appelez le centre d’appels Allo Vélib’ au 01 30 79 79 30. Vous pourrez bientôt déclarer un vol ou la perte de votre carte dans la rubrique « mon compte ».
		    		</p>		        	
		        </div>
		    </div>
        </div>
        
        <div id="accordionResilier" class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" href="#collapseResilier" data-toggle="collapse">
                  <h4>Comment résilier l'abonnement?</h4>                
                </a>
              </div>
            <div id="collapseResilier" class="accordion-body collapse" style="height: 0px;">
		    	<div class="accordion-inner">
		    		<p>Pour les abonnés Premium, vous pouvez résilier votre contrat dans l’hypothèse d’un déménagement de votre domicile hors Ile de France, en envoyant un courrier Recommandé avec Accusé de Réception.
					Il devra être accompagné de justificatif concernant votre déménagement.
					La résiliation sera effective le dernier jour du mois suivant la date de réception de votre courrier recommandé AR et des justificatifs.
		    		</p>		        	
		        </div>
		    </div>
        </div>
      
      </form>           

    </div>
    <!-- FIN CONTAINER  -->
  </div>
  <!-- FIN PAGE-CANVAS  -->
</body>
</html>